<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
      <!--<p>Welcome to <%= title %></p><a href="/unlogin">注销</a>-->
      <!--<p><%= sess.ACCOUNT %></p>-->
      <hr />

      <% posts.forEach(function(post,index){ %>
      <h3><%= post.title%></h3>
      <p>content:<%= post.content%></p>
      <% })%>
  </body>
</html>
